@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* font-family: "Rubik", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* font-family: "Space Grotesk", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Arvo", serif; */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: rgb(131, 131, 131);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 22vw;
    margin-right: 22vw;
}

/* nav section */
nav{
    font-family: "Space Grotesk", sans-serif;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 5px 5px 15px 5px;
    border-bottom: 0.1rem solid rgb(34, 34, 34);
}

.anchor-nav{
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
}

/* Header section */
header{
    margin-top: 90px;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}

p.hello-header{
    font-family: "Space Grotesk", sans-serif;
    color: #b85c23;
    font-size: 26px;
}

.name-header{
    font-family: "Arvo", serif;
    font-size: 132px;
    color: #ffffff;
}

.desc-header{
    font-family: "Space Grotesk", sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 9px;
}

.desc2-header{
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    margin: 40px 0px 40px 0px;
}

.anchor-click{
    background-color: #1b1b1b;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-family: "Rubik", sans-serif;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 16px;
}

.anchor-click:hover{
    background-color: #303030;
}

.anchor-click > i{
    padding-right: 6px;
}

/* Abouut section */

.about-div{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    padding: 10px 20px 10px 20px;
}

.text-about{
    width: 50%;
}

.text-about > h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    color: white;
}

.text-about > p{
    font-family: "Rubik", sans-serif;
    margin: 7px 0px 7px 0px;
    font-size: 20px;
}

.image-about{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-about > img{
    width: 100%;
}

/* Skill section */
.skills-div{
    padding: 10px 20px 10px 20px;
    margin-top: 80px;
}

.skills-div > h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.view-more{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #b85c23;
    text-decoration: none;
}

.skills-box{
    background: rgb(19,19,19);
    background: linear-gradient(135deg, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 100%);
    border-radius: 40px;
    border: 1px solid #1d1d1d;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-family: "Space Grotesk", sans-serif;
}

.icon-skills{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon-skills > i{
    color: #616161;
    font-size: 90px;
    margin-bottom: 5px;
}

/* Projects section */
.projects{
    padding: 10px 20px 10px 20px;
    margin-top: 80px;
}

.projects > h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.project-box{
    background: rgb(19,19,19);
    background: linear-gradient(135deg, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 100%);
    border-radius: 40px;
    border: 1px solid #1d1d1d;
    padding: 60px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.a-div{
    padding: 20px;
    width: 360px;
    background-color: #1e1e1e;
    border-radius: 20px;
    border: 1px solid #252525;
    margin-bottom: 30px;
}

.a-div:hover{
    background-color: #303030;
}

.anchor-proj{
    text-decoration: none;
    color: #616161;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
}

.anchor-proj > h3{
    color: #b85c23;
    font-family: "Space Grotesk", sans-serif;
    margin: 8px 0px 8px 0px;
    font-size: 24px;
}

.anchor-proj > img{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

/* Get in Touch section */

.main-contact{
    padding: 10px 20px 10px 20px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-contact > h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 32px;
    color: white;
    margin-bottom: 28px;
}

.main-contact > p{
    font-family: "Rubik", sans-serif;
    margin: 7px;
    width: 35%;
    font-size: 18px;
}

.anchor-contact{
    margin-top: 50px;
}

footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.808);
    font-family: "Rubik", sans-serif;
    margin: 100px 0px 10px 0px;
}

@media screen and (max-width: 426px){

    body{
        margin: 0px;
   }
   header{
    margin-top: 40px;
    padding: 10px 20px 10px 20px;
    }

    header > div{
        display: flex;
        
    }
   .name-header{
        font-size: 74px;
   }

   p.hello-header{
    font-size: 22px;
   }

   .desc-header{
    font-size: 28px;
    margin-top: 9px;
    }

    .desc2-header{
        font-size: 22px;
    }

    .anchor-nav{
        margin-right: 20px;
        margin-left: 20;
    }
    
    .anchor-click{
        padding: 12px;
        border-radius: 8px;
        margin-right: 20px;
        font-size: 16px;
    }

   .about-div{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
   }

   .text-about{
    width: auto
    }

   .image-about{
        width: auto;
   }

   .image-about{
    padding: 20px;
   }

    .image-about > img{
    width: 350px;
    }

    
    .skills-div{
        margin-top: 60px;
    }

    .icon-skills > i{
        font-size: 50px;
    } 

    .projects{
        margin-top: 60px;
    }

    .project-box{
        padding: 40px 20px 30px 20px;
    }

    .a-div{
        width: auto;
        margin-bottom: 30px;
    }

    .anchor-proj > img{
        height: 160px;
    }

    .main-contact > p{
        width: 70%;
    }

    .anchor-contact{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    .anchor-click{
        margin: 5px;
    }

    .anchor-contact{
        margin-top: 50px;
    }
    
}

@media screen and (min-width: 427px) and (max-width: 768px) {
    body{
       margin: 0px 10vw ; 
    }

    .about-div{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
   }

   .text-about{
    width: auto
    }

   .image-about{
        padding-top: 20px;
        width: auto;
   }

   .image-about > img{
    width: 80%;
   }
}